@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title Profissional</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    São Luis, MA<br />
    Phone:989.99999999<br />
    <br />
    <img src="https://avatars.githubusercontent.com/u/40738499?v=4" alt="Sample Photo" width="250" />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@ifma.edu.br</a><br />
    <strong>Developer:</strong> <a href="mailto:Marketing@example.com">yullano@ifma.edu.br</a>
</address>