@{
    ViewBag.Title = "SISMF";
}

<div class="jumbotron">
    <h2> Bem vindo ao SISMF 🚂 👷 📝 </h2>
    <h5 class="lead"> Sistema de Gerenciamento de Materiais Ferroviários </h5>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> Painel de Indicadores &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Relatórios 📊</h2>
        <p>@*Texto*@</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"> Acessar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventário 🔍</h2>
        <p>@*Texto*@</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866"> Acessar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PDV 🛍️</h2>
        <p>@*Texto*@</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"> Acessar &raquo;</a></p>
    </div>
</div>